
@media only screen and (max-width:1200px)
{
    header{
        height:65vh;
    }
}

@media only screen and (max-width:1024px)
{  

    .mobile-menu span{
    display: block;
}
    header{
    height:55vh;
}
    .row{
        margin:0 15px;
    }
    .main-nav{
        display: none;
    }
    html{
        font-size:57.5%;
    }
    .client-photo{
        width:100%;
        float: none;
        text-align: center;
    }
    .client-review{
        width:100%;
        float: none;
        text-align: center;
    }
    .contact form{
        width:100%;
        margin-left: 0;;
    }

    .sticky .logo{
        margin-top:2rem;
    }
}

@media only screen and (max-width:980px)
{
    .span_1_of_4{
        width: 49.2%;
    }
    .span_1_of_4:nth-child(3)
    {
        margin-left:0;
    }

}

@media only screen and (max-width:768px)
{
    .span_1_of_4{
        width: 49.2%;
    }
    .footer-section li a{
        font-size:2rem;
    }
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 3rem;
    }
    h3{
        font-size:2rem;
    }
    html{
        font-size: 55%;
    }
}


@media only screen and (max-width:480px)
{
    .span_1_of_4{
        width:100%;
    }
    .footer-section li {
        display: block;
    }
}
